body {
  margin: 0;
  /* to prevent scrolling of page */
  overflow: hidden;
  font-size: 14px;
}
* {
  /* includes padding and border in container height */
  box-sizing: border-box;
}
.container {
  height: 100vh;
}
.title-bar {
  height: 5vh;
  background-color: #107c41;
  display: flex;
  /* flex-dirn : row(by-default) justify-content- aligns horizonally and align -items aligns veratcally */
  justify-content: center;
  align-items: center;
  color: #fff;
}
.menu-bar {
  height: 5vh;
  background-color: #107c41;
  display: flex;
}
.menu-item {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.menu-item.selected {
  background-color: #fff;
  color: #107c41;
}
.menu-icon-bar {
  height: 6vh;
}
.formula-bar {
  height: 5vh;
}
.data-container {
  height: 75vh;
}
.sheet-bar {
  height: 4vh;
}

/* color-picker  extension
flex-dirn:row (horizzontally aligned)  if justify-content:center (horizonally)  for vertically aligning  : use align-items:center
flex-column : justify-content-center: aligns in center veratically   & align-items:center(aligns horizonally)

div : block (comes vertically at first)-> flex-direction :column

material-icons cdn
*/
